body{
    margin-left: 20px;
}

.chat{
  padding: 20px;
  border-radius:16px;
  display: inline-block;
    background-color: aliceblue;
}

.msg{
    background-color: dodgerblue;
    color: white;
    border-radius:16px;
    padding: 5px 15px;
}